html {

}
body
{
  background-color: #5341E8;


}

.realbing {

  position: relative;
  left: 600px;
}

.header {

  background-color: #0DE54F;
  padding: 10px;
  text-align: center;
  color: #000000;
}

#text {

  border: 10px green solid;
  padding: 60px;
  background-color: white;
}

#footer2 {

  background-color: #005B17;
  padding: 100px;
  text-align: center;
  color: #FFFFFF;
}
